# postgres-auth
AUTH_POSTGRES_DB=auth
AUTH_POSTGRES_USER=postgres
AUTH_POSTGRES_PASSWORD=secret

# auth-app
APP_CONFIG__DB__URL=postgresql+asyncpg://postgres:secret@postgres-auth:5432/auth
APP_CONFIG__DB__SYNC_URL=postgresql+psycopg://postgres:secret@postgres-auth:5432/auth
APP_CONFIG__REDIS__HOST=redis
APP_CONFIG__REDIS__PORT=6379
APP_CONFIG__DB__ECHO=0
APP_CONFIG__AUTHJWT_SECRET_KEY=secret
APP_CONFIG__JAEGER__ENABLE=True
APP_CONFIG__JAEGER__HOST=tracer
APP_CONFIG__JAEGER__PORT=4317

# Тестовая апа
APP_CONFIG__OAUTH_YANDEX__CLIENT_ID=41245e368c414be3bc1e8d172c9be2e6
APP_CONFIG__OAUTH_YANDEX__CLIENT_SECRET=eeb9614f93854b9797496a20daef529b
APP_CONFIG__SUPERUSER__EMAIL=superuser@theatre.ru
APP_CONFIG__SUPERUSER__FIRST_NAME=admin
APP_CONFIG__SUPERUSER__LAST_NAME=admin
APP_CONFIG__SUPERUSER__PASSWORD=123qwe

# content-app
ELASTIC_HOST=elastic-db
ELASTIC_PORT=9200
REDIS_HOST=redis
REDIS_PORT=6379

# postgres-admin
ADMIN_POSTGRES_DB=theatre
ADMIN_POSTGRES_USER=postgres
ADMIN_POSTGRES_PASSWORD=secret

# admin-panel
DEBUG=False
SECRET_KEY=folaskdfjYHLHhjlhljkh7678yhlkjgkfkfgkjo

SQL_ENGINE=django.db.backends.postgresql_psycopg2
SQL_HOST=postgres-admin
SQL_PORT=5432
SQL_OPTIONS=-c search_path=public,content
DATABASE_TYPE=postgres

# content-app and admin-panel
AUTHJWT_SECRET_KEY=secret
