[submodule "auth_api"]
	path = auth_api
	url = git@github.com:rock4ts/Auth_sprint_1.git
[submodule "admin_panel"]
	path = admin_panel
	url = git@github.com:rock4ts/new_admin_panel_sprint_2.git
[submodule "movies_api"]
	path = movies_api
	url = git@github.com:rock4ts/movies_api.git
[submodule "movies_etl"]
	path = movies_etl
	url = git@github.com:rock4ts/movies_etl.git
