[submodule "auth_api"]
	path = auth_api
	url = git@github.com:rock4ts/Auth_sprint_1.git
[submodule "admin_panel"]
	path = admin_panel
	url = git@github.com:rock4ts/new_admin_panel_sprint_2.git
[submodule "content_api"]
	path = content_api
	url = git@github.com:rock4ts/Async_API_sprint_2.git
