[submodule "auth_api"]
	path = auth_api
	url = git@github.com:rock4ts/auth_api.git
[submodule "admin_panel"]
	path = admin_panel
	url = git@github.com:rock4ts/new_admin_panel_sprint_2.git
[submodule "movies_api"]
	path = movies_api
	url = git@github.com:rock4ts/movies_api.git
[submodule "movies_etl"]
	path = movies_etl
	url = git@github.com:rock4ts/movies_etl.git
[submodule "clickhouse_profiler"]
	path = clickhouse_profiler
	url = git@github.com:rock4ts/clickhouse_profiler.git
[submodule "ugc_api"]
	path = ugc_api
	url = git@github.com:rock4ts/movies_ugc_api.git
