SENTRY_DB_USER=sentry
SENTRY_DB_PASSWORD=sentry
SENTRY_DB_NAME=sentry
SENTRY_POSTGRES_HOST=pg-sentry
SENTRY_POSTGRES_PORT=5432
SENTRY_SECRET_KEY=change-me
SENTRY_URL_PREFIX=http://sentry.localhost
SENTRY_REDIS_HOST=redis-sentry
SENTRY_REDIS_PORT=6379
SENTRY_REDIS_DB=1
SENTRY_ADMIN_EMAIL=admin@sentry.local
SENTRY_ADMIN_PASSWORD=change-me
